 *{
    margin: 0;
    padding: 0;
 }

 a{
     text-decoration: none;
 }



 input{
    color: #333;
    border: none;
    background-color: none;
    outline: 0;
 }

 input::placeholder{
     color: #afafaf;;
 }

 #content{
     height: 100vh;

         background-size: cover;
         position: relative;
 }

 /*---- header https://goo.gl/forms/JK7VYWS4EzrHuP0Q2 ----*/

 header{
     width: 100vw;
     height: 12%;
position: absolute;
top: 18px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     color: #333;
 }

 iframe{
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: -3;
 }

/*---- header ----*/

.searchber{
    height: 60px;
    width: 375px;
    background-color: #fff;
    box-shadow: 1px 2px 15px 0px #33333338;
    border-radius: 4px;
        margin-left: 4%;
        transition: 0.15s;

}

.se_on{
    box-shadow: 1px 2px 15px 3px #33333338;
    transition: 0.15s;
}

.tag_s_fo{
        border: none;
    height: 100%;
    width: 80%;
    margin-left: 20px;
    font-size: 103%;
    font-weight: bold;
    letter-spacing: 2px;
}

.searchber i{
        font-size: 165%;
    color: #666666;

}

.tag_s_b{
   border: none;
    width: 9%;
    height: 100%;
    background-color: #00000000;
    margin-top: 1px;
    margin-right: 10px;
}

.searchber form{
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;

}

.profile{
height: 80px;
    width: 250px;
    margin-right: 4%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.profile_icon{
       border-radius: 50px;
    margin-left: 40px;
    width: 50px;
    height: 50px;
    background-size: cover;
    box-shadow: 0px 0px 11px 0px #3333337a;
}

.log_icon{

    position: relative;
    overflow: hidden;
    font-weight: bold;
}

@keyframes gradationTest {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.log_icon{
    color: #fff;
    letter-spacing: 2px;
    background: linear-gradient(-45deg,#e64949,#415cbb);
    animation: gradationTest 5s infinite;
    background-size: 200% 200%;
    background-color: #333;
    padding-bottom: 18px;
    font-size: 15px;
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s;
    border-radius: 9px;
    box-shadow: 0px 0px 11px 0px #3333337a;
    z-index: 1;
}

.log_icon:hover{
    transition: 0.3s;

    box-shadow: 0px 0px 14px 2px #3333337a;
    z-index: 1;
}

.log_icon p{
    color: #fff
    font-size: 15px;
}

.wing{
    width: 80px;
    height: 60px;
    background-color: #ffffff2e;
    position: absolute;
    top: 0;
    left: -105px;
    transform:skewX(-30deg);
    transition-delay: 0.5s;
    z-index: 2;
}

.log_icon:hover .wing{
    background-color: #ffffff2e;
    position: absolute;
    left: 300px;
    transform:skewX(-30deg);
    transition: 0.9s;
    transition-delay: 0.3s;
}

.wave{
    position: absolute;

}

/*---- posts ----*/

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 #main{
     width: 100vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 #main p{
     margin-top: 100px;
 }

 .my_posts{
    
     width: 100%;
 }

.posts{
    display: none;
    transition: .3s;
}

.pos_visi{
    display: flex!important;
    transition: .3s;
    
}

.poscon{
    width: 100%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
        flex-direction: column;
    justify-content: center;
    
}

.poscon .naka{
    display: flex;
    align-items: center;
    width: 100%;
}

.p_title{
    text-align: center;
    display: table;
        margin: 10px auto;
    padding-bottom: 5px;
    width: 80%;
   
    border-bottom: 2px #fff solid;
}

.p_tag{
    text-align: center;
    display: table;
  
   
}
 /*---- profile ----*/

 .info_ber{
     display: flex;
     width: 100%;
     height: 150px;
 }

 .info_ber figure{
     width: 129px;
     height: 129px;
     background-color: #222;
 }

 .my_pro{
       width: calc(100% - 159px);
    margin-left: 30px;
    height: 129px;
 }

 .my_pro p{
     line-height: 1em;
 }

 .my_pro div{
     display:flex;
     flex-wrap:wrap;
     justify-content:start;
 }

 .my_name{
     font-size: 25px;
     letter-spacing: 4px;
     font-weight: bold;
 }

 .my_tags{
     margin-left: 30px;
 }

 .poster{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
 }


 .poster figure{
     position: relative;
     display: flex;
 }

 .poster figure tr{
     position: absolute;
 }

 .editform{
     display: none;
 }

 .edi_on{
     display: block!important
 }

 .profile_icon{
     position: relative;
     background: linear-gradient(-45deg,#e64949,#415cbb);
     transition: 0.3s;

 }

 .profile_icon:hover{
    box-shadow: 0px 0px 11px 2px #3333337a;
    transition: 0.3s;
 }

 .profile_post{
     justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    top: 90px;
    width: 20%;
        padding: 40px 50px 40px 50px;
    right: calc(4%);
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
     transition: 0.3s;
     opacity: 0;
     z-index: -1;
     width: 400px;
     overflow: scroll;
     height: 65vh;
 }

 .profile_post::-webkit-scrollbar{
        display: none;
}

/* div.profile_post:after {
        position: absolute;
    content: "";
    border: 26px solid transparent;
    border-bottom: 60px solid #fff;
    top: -86px;
    right: 0;
} */

  .pr_op{
     opacity: 1!important;
     display: flex!important;
     top: 100px!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
     z-index: 3;
     overflow: scroll;
 }

.scroll_m{
    width: 100%;
    padding: 40px 50px 40px 50px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 90%,rgba(255,255,255,0.98) 99%,rgba(255,255,255,1) 100%); 
    position: absolute;
}

.pr_op::-webkit-scrollbar{
        display: none;
}

.pr_op:after{
        position: absolute;
    content: "";
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -60px;
}



 /*--- logon ---*/

 #log_con{
    opacity: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
     z-index: -3;
    align-items: center;
    top: 100px;
    width: 250px;
        padding: 10px 20px 10px 20px;
    right: calc(4%);
    background-color: #fff;
        transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
    border-radius: 8px;
 }

 #log_con:before{
             width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 8px;
    background-color: #ffffff4a;
    z-index: -1;
    content: "";
    filter: blur(5px);
 }

 div#log_con:after {
    position: absolute;
    content: "";
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -60px;
}

 .sin_con{
    opacity: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    align-items: center;
    top: 100px;
    width: 250px;
     z-index: -2;
        padding: 10px 20px 10px 20px;
    right: calc(4%);
    background-color: #fff;
        transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
    border-radius: 8px;
 }

 .sin_con:before{
             width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 8px;
    background-color: #ffffff4a;
    z-index: -1;
    content: "";
    filter: blur(5px);
 }

 div.sin_con:after {
    position: absolute;
    content: "";
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -60px;
}

.sn_op{
     opacity: 1!important;
     display: flex!important;
     top: 120px!important;
    z-index: 6!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
 }

 .in_ber{
     position: relative;
 }

 .in_ber div{
           width: 80px;
    height: 60px;
    background-color: #ffffff2e;
    position: absolute;
    top: 20px;
    left: -90px;
    transform:skewX(-30deg);
    transition-delay: 0.5s;
    z-index: 2;
 }

 .in_ber:hover div{
     background-color: #ffffff2e;
    position: absolute;
    left: 300px;
    transform:skewX(-30deg);
    transition: 0.9s;
    transition-delay: 0.3s;
 }

 .lo_op{
     opacity: 1!important;
     display: flex!important;
     z-index: 5!important;
     top: 120px!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
 }

.lo_cl{
    opacity: 0;
    transition: 0.3s;
}

 .login{

 }

 .login input{
    width: 80%;
    /* height: 60px; */
    font-size: 15px;
    color: #666;
 }

 .mail{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
    /* height: 60px; */
    border-bottom: 2px #666 solid;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #666;
 }

 .pass{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
    /* height: 60px; */
    border-bottom: 2px #666 solid;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #666;
 }

 .login .mail i{
         margin-left: 4px;
    margin-right: 10px;
 }

  .login .pass i{
         margin-left: 5.2px;
    margin-right: 10px;
 }

 .logg{
         width: 100%;
    height: 20%;
 }

 .login button {
    margin-top: 30px;
    width: 100%;
    background-color: #666;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 37px;
    transition: 0.3s;
    outline: none;
    font-weight: bold;
     font-size: 11px;
     letter-spacing: 3px;
}

.login button:active{
        box-shadow:inset 0px 0px 20px 6px #33333338;
        transition: 0.3s;
        outline: none;
}

.sinki{
margin-bottom: 27px;

}

.touroku{
    width: 100%;
}

.touroku div{
     width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* height: 60px; */
    border-bottom: 2px #666 solid;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #666;
    position: relative;
}

.touroku div:before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #ddd;
     transition: 0.3s;
}

 .touroku div input:focus + .touroku div:before{
    transform: scaleX(100);
    transition: 0.3s;
}

.touroku input{
       width: 80%;
    /* height: 60px; */
    font-size: 15px;
    color: #666;
}

.touroku div i{
        margin-left: 4px;
    margin-right: 10px;
}

@keyframes gradationTestc {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.touroku button {
        margin-top: 30px;
    width: 100%;
    background: linear-gradient(-45deg, #e63c35,#625bc5);
    animation: gradationTestc 10s infinite;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 37px;
    transition: 0.1s;
    outline: none;
    background-size: 400%;
    margin-top: 30px;
    margin-bottom: 25px;
 font-weight: bold;
     font-size: 11px;
     letter-spacing: 3px;

}



.touroku button:active{
        box-shadow:inset 0px 0px 20px 6px #33333338;
        transition: 0.1s;
        outline: none;
}

.t_name{

}

.t_mail{
    border-bottom-color: #e63c35!important;
}

.t_mail i{
    color: #e63c35!important;
}

.t_mail input::placeholder{
    color: #e53c3570
}

.t_pass{
    border-bottom-color: #5994dc!important;
}

.t_pass i{
    color: #5994dc!important;
}

.t_pass input::placeholder{
    color: #5994dc70
}

.t_loc{
    border-bottom-color: #fac000!important;
}

.t_loc i{
    color: #fac000!important;
}

.t_loc input::placeholder{
    color: #fac00070
}

.t_tag{
    border-bottom-color: #39b93d!important;
}

.t_tag i{
    color: #39b93d!important;
}

.t_tag input::placeholder{
    color: #39b93d70
}