 *{
    margin: 0;
    padding: 0;
 }

 a{
     text-decoration: none;
 }



 input{
    color: #333;
    border: none;
    background-color: none;
    outline: 0;
 }

 input::placeholder{
     color: #afafaf;;
 }

 #content{
     height: 100vh;

         background-size: cover;
         position: relative;
 }

button{
    outline: none;
}

 /*---- header https://goo.gl/forms/JK7VYWS4EzrHuP0Q2 ----*/

 header{
     width: 100vw;
     height: 12%;
position: absolute;
top: 28px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     z-index: 1;
     color: #333;
 }

 iframe{
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 0;
 }

/*---- header ----*/

.searchber{
    height: 60px;
    width: 465px;
    
    background-color: #fff;
   box-shadow:  1px 2px 15px 0px #33333380;
    border-radius: 4px;
        margin-left: 4%;
        transition: 0.15s;
}
.searchber form img{
    height: 60%;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 2px #333 solid;
}

.se_on{
    box-shadow: 1px 2px 15px 3px #33333338;
    transition: 0.15s;
}

.tag_s_fo{
        border: none;
    height: 100%;
    width: 66%;
    margin-top: -1px;
    margin-left: 10px;
    font-size: 103%;
    font-weight: bold;
    letter-spacing: 2px;
}

.searchber i{
        font-size: 165%;
    color: #333;

}

.tag_s_b{
   border: none;
    width: 9%;
    height: 100%;
    background-color: #00000000;
    margin-top: 1px;
    margin-right: 10px;
}

.searchber form{
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
align-items: center;
}

.profile{
height: 80px;

    margin-right: 4%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.profile_icon{
       border-radius: 50px;
    margin-left: 30px;
    width: 50px;
    height: 50px;

   box-shadow: 1px 2px 15px 0px #33333388;
    background-size: cover;
}

.profile_icon:hover{
    box-shadow: 1px 2px 25px 1px #33333388;
    transition: 0.3s;
    
 }

.profile_add{
       border-radius: 50px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
border: 3px #333 solid;
    box-sizing: border-box;
   box-shadow: 1px 2px 15px 0px #33333388;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
     transition: all 1.0s ease;
}

.profile_add .bo1{

    content: "";
    width: 3px;
        transform: translateX(10.5px) translateY(0.5px);
  
    height: 45%;
    transition: all .3s;
     box-shadow: 1px 2px 15px 0px #33333388;
    background-color: #333;
}

.profile_add .bo2{
     transform: translateX(-0.75px);

    content: "";
    height: 3px;
    width: 45%;
     box-shadow: 1px 2px 15px 0px #33333388;
    transition: all .3s;
    background-color: #333;
}




.profile_add:hover {
    box-shadow: 1px 2px 25px 1px #33333388;
 }

.log_icon{

    position: relative;

    font-weight: bold;
}

@keyframes gradationTest {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradationHikari {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.log_icon{
    color: #fff;
    letter-spacing: 2px;
    background: linear-gradient(-45deg,#e64949,#415cbb);
    animation: gradationTest 5s infinite;
    background-size: 200% 200%;
    background-color: #333;
    padding-bottom: 18px;
    font-size: 15px;
    padding-top: 18px;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s;
    border-radius: 9px;
    z-index: 1;
}

.log_icon::after {
content: "";
    position: absolute;
    animation: gradationHikari 5s infinite;
    z-index: -1;
    bottom: -7px;
    height: 115%;
    top: -2px;
    width: 103%;
    left: -3px;
    opacity: 0.8;
    border-radius: 10px;
    background: linear-gradient(-45deg,#e64949,#415cbb);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
 
    
    transition: all 0.3s ease;
 
}

.log_icon:hover::after{
  transform: scale(1.05);
}

.log_icon p{
    color: #fff
    font-size: 15px;
}

.wing{
    width: 80px;
    height: 60px;
    display: none;
    background-color: #ffffff2e;
    position: absolute;
    top: 0;
    left: -105px;
    transform:skewX(-30deg);
    transition-delay: 0.5s;
    z-index: 2;
}

.log_icon:hover .wing{
    background-color: #ffffff2e;
    position: absolute;
    left: 300px;
    transform:skewX(-30deg);
    transition: 0.9s;
    transition-delay: 0.3s;
}

.wave{
    position: absolute;

}

/*---- posts ----*/

.colum{
       position: absolute;
        bottom: 15px;
    height: 60px;

    width: 400px;
    background: linear-gradient(0deg, #ffffff 50%, #ffffff 50%);
}

.colum ul {
       display: grid;
    color: #333;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-columns: 25% 25% 25% 25%;
}

.colum li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
      font-family: "Font Awesome 5 Free";
        font-size: 22px;
    transition: .1s;
}

.colum li:before{
    transition: all .3s cubic-bezier(0.02, 0.71, 0.25, 1);
    content: "";
    width: 0%;
    height: 3px;
    background-color: #222222;
    position: absolute;
    bottom: 10px;
}

.colum li:hover::before {
    content: "";
    width: 9%;
    height: 3px;
    background-color: #222;
    position: absolute;
    bottom: 10px;
}

.colum li:active{
    transform: scale(0.9);
    transition: all .2s;
}

.colum li::after{
      font-family: "Font Awesome 5 Free";
}

.colum .p_profile::after{
    content: "\f007";
}.colum .p_profile:hover::after{
    content: "\f007";
}

.colum .p_add::after{
    content: "\f0fe";
}.colum .p_add:hover::after{
    content: "\f0fe";
}

.colum .p_chat::after{
    content: "\f4ad";
}.colum .p_chat:hover::after{
    content: "\f4ad";
}

.colum .p_set::after{
    content: "\f013";
}.colum .p_set:hover::after{
    content: "\f013";
}

    .posts form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.p_view{
    width: 100%;
     transition: 0.5s cubic-bezier(0.08, 0.59, 0.11, 1);

}

.p_move1{
    transform: translateX(calc(-100% - 50px) );
}

.p_move2{
        transform: translateX(calc(-200% - 100px) );
}

.p_move3{
        transform: translateX(calc(-300% - 150px) );
}

.posts{
position: absolute;


  display: flex;

    justify-content: center;
 flex-wrap: wrap;
transform: translateX(calc(100% + 0px));

margin-left: 50px;
    width: 400px;
    transition: 0.5s cubic-bezier(0.08, 0.59, 0.11, 1);


}

.pos_visi1{
    transform: translateX(calc(0% - 50px));
}

.pos_visi2{
        transform: translateX(calc(-100% - 100px));
}

.pos_visi3{
        transform: translateX(calc(-200% - 50px));
}

.chatting{
    position: absolute;
  display: flex;
    justify-content: center;
 flex-wrap: wrap;
    transform: translateX(calc(200% + 50px));
    width: 400px;
    height: 200px;
    background-color: #e63c35;
    transition: 0.5s cubic-bezier(0.08, 0.59, 0.11, 1);
}

.chatting1{
     transform: translateX(calc(100% + 50px));
}

.chatting2{
     transform: translateX(calc(0% + 0px));
}

.chatting3{
     transform: translateX(calc(-100% + -50px));
}

.setting{
     position: absolute;
  display: flex;
    justify-content: center;
 flex-wrap: wrap;
    transform: translateX(calc(300% + 50px));
margin-left: 50px;
    width: 400px;
    height: 200px;
    background-color: #13eab2;
    transition: 0.5s cubic-bezier(0.08, 0.59, 0.11, 1);
}

.setting1{
     transform: translateX(calc(200% + 50px));
}

.setting2{
        transform: translateX(calc(100% + 0px));
}

.setting3{
     transform: translateX(calc(0% + -50px));
}
    .up_ber{
    height: 40%;
    width: 400px;
     cursor: pointer;

     display: inline-block;
      filter: brightness(1.5);
     color: #333;
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px #333 solid;
        box-sizing: border-box;
}

.up_ber:hover{

        border: 4px #333 solid;
}


.postbut{
    width: 200px;
    margin-bottom: 20px;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
}

.postbut:hover{
    background-color: #333;
}

.up_ber input{
     display: none;
}

#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 #main{
     width: 100vw;
     display: flex;
     transition: .3s;
     flex-wrap: wrap;
     justify-content: center;
 }

.board_d{
       z-index: -4;
    transition-delay: 2.4s;
    transition: .1s;
}

.board{
 opacity: 0;
    position: absolute;
    width: 100vw;
    transition: .3s;
     transition-delay: .1s;
    height: 100vh;
}

.m_focus{
   background-color: #000;
    opacity: 0.7;
     transition: .3s;


}

.m_focus_d{

     z-index: 5;
}


 #main p{
     margin-top: 100px;
 }

 .my_posts{

     width: 100%;
     overflow: scroll;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
     height: 100%;
     position: relative;
 }



.pos_in{
    width: 100%;
     justify-content: center;

}

.profile_image{
    width: 129px;
    height: 129px;

}



.pos_con input{
    width: calc(100% - 12px);
    height: 40px;
    background-color: #f4f4f4;
border-top: 2px #333 solid;
    border-bottom: 2px #333 solid;
    margin-bottom: 30px;
    padding-left: 6px;
    padding-right: 6px;

}

.pos_con{


}



.pos_con input[name="title"]{

}



.back{
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.back p{
    font-size: 25px;
    color: #333;
}

.poscon{
    width: 100%;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
        flex-direction: column;
    justify-content: center;

}

.poscon .naka{
    display: flex;
    align-items: center;
    width: 100%;
}

.p_title{
    text-align: center;
    display: table;
        margin: 10px auto;
    padding-bottom: 5px;
    width: 80%;

    border-bottom: 2px #fff solid;
}

.p_tag{
    text-align: center;
    display: table;


}
 /*---- profile ----*/

.pro_up{
        width: 129px;
        height: 129px;
    background-color: #333;
 
        display: inline-block;
    }

 .pr_op .info_ber{
     display: flex;
     width: 100%;
     height: 150px;
         transform: translateY(0px);
     transition: all .5s ease;
     transition-delay: .2s;
     opacity: 1;
 }

.info_ber{
    transform: translateY(-100px);
     display: flex;
     width: 100%;
     height: 150px;
    opacity: 0;
 }



 .info_ber figure{
     width: 129px;
     height: 129px;
     background-color: #222;
 }

 .my_pro{
       width: calc(100% - 159px);
    margin-left: 30px;
    height: 129px;
 }

 .my_pro p{
     line-height: 1em;
 }

 .my_pro div{
     display:flex;
     flex-wrap:wrap;
     justify-content:start;
 }

 .my_name{
     font-size: 25px;
     letter-spacing: 4px;
     font-weight: bold;
 }

 .my_tags{
     margin-left: 30px;
 }

 .poster{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
     width: 100%;
              transform: translateY(-100px);
     transition: all .5s ease;
     transition-delay: .4s;
     opacity: 0;
 }

.pr_op .poster{
        transform: translateY(0px);
      opacity: 1;
}


/* .fig1{
      transition: all .5s ease;
     transform: translateY(-50px);
         transition-delay: 1s;
}
.fig2{
      transition: all .5s ease;
     transform: translateY(-50px);
         transition-delay: 1.5s;
}
.fig3{
      transition: all .5s ease;
     transform: translateY(-50px);
         transition-delay: 2.0s;
}
.fig4{
      transition: all .5s ease;
     transform: translateY(-50px);
         transition-delay: 2.5s;
}

.pr_op .fig1{
      transition: all .5s ease;
     transform: translateY(0px);
         transition-delay: .42s;
}
.pr_op .fig2{
      transition: all .5s ease;
     transform: translateY(0px);
         transition-delay: .44s;
}
.pr_op .fig3{
      transition: all .5s ease;
     transform: translateY(0px);
         transition-delay: .46s;
}
.pr_op .fig4{
      transition: all .5s ease;
     transform: translateY(0px);
         transition-delay: .48s;
}

*/






 .poster figure{
     position: relative;
     display: flex;
 }

 .poster figure tr{
     position: absolute;
 }

 .editform{
     display: none;
 }

 .edi_on{
     display: block!important
 }

 .profile_icon{
     position: relative;
     background-image: url(images/a0163892_23172761.jpg);
     transition: 0.3s;

 }



.profile_setting{
       justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
     visibility: hidden;
    position: absolute;
    top: 90px;
    width: 20%;
        padding: 40px 50px 40px 50px;
    right: calc(4%);
    background-color: #fff;
    border-radius: 8px;
     transition: 0.3s;
     opacity: 0;
     z-index: -1;
     width: 100px;

}

  .st_op{
     opacity: 1!important;
     display: flex!important;
      visibility: visible;
     top: 100px!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
     z-index: 3;

 }

.profile_setting a{
    text-align: center;
    width: 100%;
    color: #e63c35;

}

 .profile_post{
     justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
     visibility: hidden;
    position: absolute;
    top: 90px;
    width: 20%;
        padding: 60px 45px 60px 45px;
    right: calc(4%);
    background-color: #fff;
    border-radius: 15px;
     transition: 0.3s;
     opacity: 0;
     z-index: -1;
     width: 400px;
     overflow: scroll;
     height: 56vh;
 }

 .profile_post::-webkit-scrollbar{
        display: none;
}

.my_posts::-webkit-scrollbar{
        display: none;
}
/* div.profile_post:after {
        position: absolute;
    content: "";
    border: 26px solid transparent;
    border-bottom: 60px solid #fff;
    top: -86px;
    right: 0;
} */

  .pr_op{
     opacity: 1!important;
     display: flex!important;
      visibility: visible;
     top: 100px!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
     z-index: 3;
     overflow: scroll;
 }

.scroll_m{
    width: 100%;
    padding: 40px 50px 40px 50px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 90%,rgba(255,255,255,0.98) 99%,rgba(255,255,255,1) 100%);
    position: absolute;
}

.pr_op::-webkit-scrollbar{
        display: none;
}

.pr_op:after{
        position: absolute;
    content: "";
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -60px;
}

.setting_icon{
   width: 55px;
    height: 55px;
    margin-left: 30px;
}

.setting_icon button{

    width: 100%;
    height: 100%;
    background: none;
    border: none;
    transform: translateY(-1.5px);
    font-size: 44px;
    transition: .2s ease;
    color: #333;
}

.setting_icon button i{
    transition: all .5s cubic-bezier(0.59, 0.01, 0.28, 0.99);
        text-shadow: 1px 2px 15px #33333388;
}

.setting_icon button:hover i{
 

    transform: rotateZ(75deg) translateY(0px);
}

.postion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;


}

    .figg{
         border: 2px solid #333;
    box-sizing: border-box;
        display: flex;
        align-items: center;
overflow: hidden;
    background-size: 150%;
      width: 129px;
    height: 129px;
margin-top: 6px;

justify-content: center;
  transition: .3s ease;

    }

    .figg:hover{

        /*filter: brightness(0.6);*/
        cursor: pointer;
    }

    .figg:hover .add{
        transition: .3s ease;
        transform: scale(1.1);
    }

    .figg:hover .addp{
        transition: .3s ease;
        transform: scale(1.1);
    }
    .figg .add{
        border-radius: 60px;
        width: 60px;
          transition: .3s ease;
        position: absolute;
        height: 60px;
            top: 32.5px;
    left: 31px;
        border: 2px solid;
        text-align: center;
        font-size: 30px;
        color: #333;

}

    .figg .addp{

          position: absolute;
        left: 53px;
            top: 40px;
        text-align: center;
        font-size: 30px;
        color: #333;

}

 /*--- logon ---*/

 #log_con{
    opacity: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
     z-index: -3;
    align-items: center;
    top: 100px;
    width: 250px;
        padding: 10px 20px 10px 20px;
    right: calc(4%);
    background-color: #fff;
        transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
    border-radius: 8px;
 }

 #log_con:before{
             width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 8px;
    background-color: #ffffff4a;
    z-index: -1;
    content: "";
    filter: blur(5px);
 }

 div#log_con:after {
    position: absolute;
    content: "";
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -60px;
}

 .sin_con{
    opacity: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    align-items: center;
    top: 100px;
    width: 250px;
     z-index: -2;
        padding: 10px 20px 10px 20px;
    right: calc(4%);
    background-color: #fff;
        transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
    border-radius: 8px;
 }

 .sin_con:before{
             width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 8px;
    background-color: #ffffff4a;
    z-index: -1;
    content: "";
    filter: blur(5px);
 }

 div.sin_con:after {
    position: absolute;
    content: "";
    border: 30px solid transparent;
    border-bottom: 30px solid #fff;
    top: -60px;
}

.sn_op{
     opacity: 1!important;
     display: flex!important;
     top: 120px!important;
    z-index: 6!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
 }

 .in_ber{
     position: relative;
 }

 .in_ber div{
           width: 80px;
    height: 60px;
    background-color: #ffffff2e;
    position: absolute;
    top: 20px;
    left: -90px;
    transform:skewX(-30deg);
    transition-delay: 0.5s;
    z-index: 2;
 }

 .in_ber:hover div{
     background-color: #ffffff2e;
    position: absolute;
    left: 300px;
    transform:skewX(-30deg);
    transition: 0.9s;
    transition-delay: 0.3s;
 }

 .lo_op{
     opacity: 1!important;
     display: flex!important;
     z-index: 5!important;
     top: 120px!important;
         transition: 0.5s cubic-bezier(0.35, 0.71, 0.25, 1);
     box-shadow: 0px 0px 14px 2px #33333338;
 }

.lo_cl{
    opacity: 0;
    transition: 0.3s;
}

 .login{

 }

 .login input{
    width: 80%;
    /* height: 60px; */
    font-size: 15px;
    color: #333;
 }

 .mail{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
    /* height: 60px; */
    border-bottom: 2px #333 solid;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #333;
 }

 .pass{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: start;
    /* height: 60px; */
    border-bottom: 2px #333 solid;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #333;
 }

 .login .mail i{
         margin-left: 4px;
    margin-right: 10px;
 }

  .login .pass i{
         margin-left: 5.2px;
    margin-right: 10px;
 }

 .logg{
         width: 100%;
    height: 20%;
 }

 .login button {
    margin-top: 30px;
    width: 100%;
    background-color: #333;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 37px;
    transition: 0.3s;
    outline: none;
    font-weight: bold;
     font-size: 11px;
     letter-spacing: 3px;
}

.login button:active{
        box-shadow:inset 0px 0px 20px 6px #33333338;
        transition: 0.3s;
        outline: none;
}

.sinki{
margin-bottom: 27px;

}

.touroku{
    width: 100%;
}

.touroku div{
     width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* height: 60px; */
    border-bottom: 2px #333 solid;
    margin-top: 30px;
    padding-bottom: 5px;
    color: #333;
    position: relative;
}

.touroku div:before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: #ddd;
     transition: 0.3s;
}

 .touroku div input:focus + .touroku div:before{
    transform: scaleX(100);
    transition: 0.3s;
}

.touroku input{
       width: 80%;
    /* height: 60px; */
    font-size: 15px;
    color: #333;
}

.touroku div i{
        margin-left: 4px;
    margin-right: 10px;
}

@keyframes gradationTestc {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.touroku button {
        margin-top: 30px;
    width: 100%;
    background: linear-gradient(-45deg, #e63c35,#625bc5);
    animation: gradationTestc 10s infinite;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 37px;
    transition: 0.1s;
    outline: none;
    background-size: 400%;
    margin-top: 30px;
    margin-bottom: 25px;
 font-weight: bold;
     font-size: 11px;
     letter-spacing: 3px;

}



.touroku button:active{
        box-shadow:inset 0px 0px 20px 6px #33333338;
        transition: 0.1s;
        outline: none;
}

.t_name{

}

.t_mail{
    border-bottom-color: #e63c35!important;
}

.t_mail i{
    color: #e63c35!important;
}

.t_mail input::placeholder{
    color: #e53c3570
}

.t_pass{
    border-bottom-color: #5994dc!important;
}

.t_pass i{
    color: #5994dc!important;
}

.t_pass input::placeholder{
    color: #5994dc70
}

.t_loc{
    border-bottom-color: #fac000!important;
}

.t_loc i{
    color: #fac000!important;
}

.t_loc input::placeholder{
    color: #fac00070
}

.t_tag{
    border-bottom-color: #39b93d!important;
}

.t_tag i{
    color: #39b93d!important;
}

.t_tag input::placeholder{
    color: #39b93d70
}